:root {
    --primary: black;
    --secondary: white;
    --primaryfont: "Poppins", sans-serif;   
    --tertiary: #330000;
    --complementary: #ffcacc;
}

body {
    background: linear-gradient(157.27deg, var(--primary) 28.96%, var(--tertiary) 109.33%);
    color: var(--secondary);
    font-family: var(--primaryfont);
}

.nav-content {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo-img {
    transition: transform 0.3s ease-in, color 0.3s ease-in;
    cursor: pointer;
}

.nav-logo-img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-out, color 0.3s ease-out;
}

.nav-right, .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}   

.nav-right, .nav-links {
    width: 100%;
}

.nav-list {
    justify-content: flex-end;
    list-style-type: none;
}

.nav-item {
    padding: 1% 2%;
}

.nav-link {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: var(--secondary);
    transition: transform 0.2s ease-in, color 0.2s ease-in;
    transform-origin: center;
}

.nav-link:hover {
    color: var(--complementary);
    font-weight: bolder;
    transform: scale(1.1);
    transition: transform 0.3s ease-out, color 0.3s ease-out;
}

.nav-link.active {
    font-weight: bold;
}

#navScores {
    padding-right: 5%;
}

.toggle-box {
    width: 1.5em;
    transition: transform 0.2s ease-in, color 0.2s ease-in;
}

.toggle-box:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-out, color 0.3s ease-out;
    cursor: pointer;
}

.nav-toggle {
    display: flex;
}